<link href="~/css/style.css" rel="stylesheet" />

<footer class="c-footer">
    <div class="container">

        <div class="c-footer_feature">
            <a href="#">
                <div class="c-footer-feature_item c-sliders_right-feature_item-1">تحویل اکسپرس</div>
            </a>
            <a href="#">
                <div class="c-footer-feature_item c-sliders_right-feature_item-2">پشتیبانی ۲۴ ساعته</div>
            </a>

            <a href="#">
                <div class="c-footer-feature_item c-sliders_right-feature_item-3">پرداخت در محل</div>
            </a>

            <a href="#">
                <div class="c-footer-feature_item c-sliders_right-feature_item-4">هفت رو ضمانت بازگشت</div>
            </a>

            <a href="#">
                <div class="c-footer-feature_item c-sliders_right-feature_item-5">ضمانت اصل بودن کالا</div>
            </a>
        </div>

        <hr />

        <div class="c-footer_about">
            <div class="c-footer_links">
                <nav class="c-footer_links-col">
                    <div class="c-footer_links-headline">
                        <div><a href="#">راهنمای خرید از ما</a></div>
                    </div>
                    <ul class="c-footer_links-ul">
                        <li><a asp-action="Order" >نحوه ثبت سفارش</a></li>
                        <li><a >رویه ارسال سفارش</a></li>
                        <li><a asp-action="Order" >شیوه‌های پرداخت</a></li>
                    </ul>
                </nav>
                <nav class="c-footer_links-col">
                    <div class="c-footer_links-headline">
                        <div><a href="#">خدمات مشتریان</a></div>
                    </div>
                    <ul class="c-footer_links-ul">
                        <li><a >پاسخ به پرسش‌های متداول</a></li>
                        <li><a >رویه‌های بازگرداندن کالا</a></li>
                        <li><a   asp-controller="Home" asp-action="Order" >شرایط استفاده</a></li>
                        
                    </ul>
                </nav>

                <nav class="c-footer_links-col">
                    <ul class="c-footer_links-ul">
                        <li><a style="float:right" asp-controller="Home" asp-action="Contat" >درباره ما</a></li>
                    </ul>
                </nav>
            </div>

            <div class="c-footer_form">
               
                <div class="c-footer_community">
                    <div class="c-footer_social">
                        <span>ما را در شبکه‌های اجتماعی دنبال کنید:</span>
                        <div class="c-footer_social_image">
                            <div class="c-footer_social-instagram">
                                <a href="https://www.instagram.com">
                                    <img src="/css/svg/instagram.svg" width="25">
                                    اینستاگرام ما
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="c-footer_address">
            <ul class="c-footer_contact">
                <li> هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم</li>
                <li>
                    شماره تماس :
                    <a href="#">۹۳۰۰۰۰ - ۰۲۱ </a>
                    
                </li>
                <li>
                    آدرس ایمیل :
                    <a href="#">info@my.com</a>
                </li>
            </ul>

            
        </div>
    </div>

  
</footer>