@using Microsoft.AspNetCore.Identity
@using BookEnd.Areas.Identity.Data
@inject SignInManager<BookUser> SignInManager
@inject UserManager<BookUser> UserManager

    
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-action="SinOut" asp-controller="Account" method="post" id="logoutForm" class="navbar-right">
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-dark" title="Manage">سلام @UserManager.GetUserName(User)!</a>
                </li>
                <li>
                    <a class="nav-link text-dark " asp-action="ShowOrder" asp-controller="Orders" title="Manage">سبدخرید</a>
                </li>
               
                <li>
                    @if (User.IsInRole("مدیریت "))
                    {
                    <a href="Dashbord/Index">ورود به پنل مدیریت</a>
                    }
                 
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link nav-link">خروج</button>
                </li>
            </ul>
        </form>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-action="Register" asp-controller="Account">ثبت نام</a></li>
            <li><a asp-action="Sining" asp-controller="Account">ورود</a></li>
        </ul>
    }
