@page
@model RegisterModel
@{
    ViewData["Title"] = "عضویت";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 class="text-center">عضویت در سایت</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.Name"></label>
                        <input asp-for="Input.Name" class="form-control" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Family"></label>
                        <input asp-for="Input.Family" class="form-control" />
                        <span asp-validation-for="Input.Family" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.UserName"></label>
                        <input asp-for="Input.UserName" class="form-control" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        <div class="form-group col-md-6">
                            <button style="margin-top:20px" class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#demo">افزودن نقش کاربر</button>
                            <div id="demo" class="collapse" >
                                <ul class="list-unstyled">
                                    @foreach (var item in Model.GetRoles)
                                    {
                                        <li class="p-1">
                                            <input type="checkbox" value="@item.Name" name="UserRoles" />
                                            @item.Name
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>

                    <button  type="submit" class="btn btn-success float-left">ثبت نام</button>
                </div>
            </div>
        </form>
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
