
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>عضو شدید!!!</title>
</head>
<body>
    <h3 class="text-center" style="background-color:greenyellow; display:block">باموفقیت عضو شدید</h3>
    <a class="btn btn-primary" asp-action="Sining" asp-controller="Account">ورود</a>
</body>
</html>
