
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contat</title>
</head>
<body>
    <p style="float:right;background-color:blue;font-size:30px" class="text-white" >ادرس ما .....</p>
</body>
</html>
